.suggest-taglist{
    padding: 20px;
    background-color: #fff;
    width: 100%;
    li{
        padding: 5px 0;
        cursor: pointer;
        &:hover{
            background-color: #efefef;
        }
    }
}
#tag-input{
    display: none;
}
.fake-input{
    min-height: 40px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 20px;
    &.editable{
        cursor: text;
    }
    .tag-choosen{
        padding: 5px 10px;
        background-color: #efefef;
        position: relative;
        .remove-tag{
            position: absolute;
            color: red;
            cursor: pointer;
            top: -10px;
            right: -10px;
            font-weight: bold;
        }
    }
}